@model List<Acadimy.Models.Notification>

@{
    Layout = "~/Views/Shared/LayoutStudent.cshtml";
}

<h2 class="mb-4">Notifications</h2>
@if (TempData["NotificationError"] != null)
{
    <div class="alert alert-warning rounded-4 mb-4">
        <i class="bi bi-exclamation-triangle me-2"></i>
        @TempData["NotificationError"]
    </div>
}
@if (!Model.Any())
{
    <div class="alert alert-info">
        No notifications yet.
    </div>
}
else
{
    <div class="notifications-container">

        @foreach (var n in Model)
        {
            <a asp-action="Read"
               asp-route-id="@n.Id"
               class="notification-card @(n.IsRead ? "read" : "unread")">

                <!-- ICON -->
                <div class="notif-icon">
                    @if (n.Type == "Course")
                    {
                        <i class="bi bi-journal-bookmark"></i>
                    }
                    else if (n.Type == "Grade")
                    {
                        <i class="bi bi-check-circle"></i>
                    }
                    else
                    {
                        <i class="bi bi-bell"></i>
                    }
                </div>

                <!-- CONTENT -->
                <div class="notif-content">

                    <div class="notif-header">
                        <strong>
                            @if (!n.IsRead)
                            {
                                <span class="dot"></span>
                            }
                            @n.Title
                        </strong>

                        <small>@n.CreatedAt.ToString("dd/MM HH:mm")</small>
                    </div>

                    <p>@n.Message</p>
                </div>

            </a>
        }

    </div>
}